.nameForm,
.greeting {
    display: none;
    margin-top: 50px;
}

.showing {
    display: block;
}

.nameForm h4 {
    font-size: 32px;
}

.nameForm input {
    width: 240px;
    font-size: 27px;
    color: #fff;
    background-color: transparent;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
    text-align: center;
}

.nameForm input:focus {
    color: #fff;
    outline: none;
}

.nameForm input::placeholder {
    color:#fff;
}