.btn {
    cursor: pointer;
}

.clicked {
    color: #7f8c8d;
}

.toDoForm {
    margin-top: 30px;
}

.toDoForm h2 {
    font-size: 32px;
}

.toDoForm input {
    margin-top:0px;
    background-color: transparent;
    font-size: 24px;
    color: #fff;
    width: 320px;
    height: 40px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1;
    text-align: center;
}

.toDoForm input:focus {
    color: #fff;
    outline: none;
}

.toDoForm input::placeholder {
    color:#fff;
}

.toDoList {
    font-size: 18px;
    list-style: none;
    line-height: 30px;
}

.toDoButton {
    background-color: transparent;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    display: inline-block;
    text-align: center;
    cursor : pointer;
    outline: none;
    margin-left: 10px;
    color: #7f8c8d;
}
